
.git*
.gitlab/*
bower.json
phpspec.yml
.php_cs
phpunit.xml
node_modules/
tests/*
env*
.env
.gitlab-ci.yml
server.php
testing.env
contributing.md
.bowerrc
.vscode
.dockerignore
Dockerfile
storage/
deploy-screens/
docs/
bin/
php-cs-fixer.phar
