
.git*
composer*
gulpfile.js
package.json
bower.json
phpspec.yml
phpunit.xml
tests/*
node_modules
resources/assets/sass/*
resources/assets/less/*
resources/assets/vendor/*
env*
.env
.gitlab-ci.yml
server.php
testing.env
contributing.md
.bowerrc
.gitlab/*
.vscode
.dockerignore
Dockerfile
storage/app/*
storage/documents/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
storage/resources