/vendor
/resources/assets/vendor
.DS_Store
.env*
*.env
node_modules
public/build
public/js/*
public/js /*
public/css/*
storage/documents/*
storage/framework/testing
tests/data/**/thumbnails
.idea
.vagrant
puphpet
Vagrantfile

public/js/*.js
public/css/*.css
public/css/all.css
typings/*

.settings/
.vscode/
docker-compose.yml
!tests/docker-compose.yml