/vendor
/resources/assets/vendor
.DS_Store
.env*
!.env.example
node_modules
public/build
public/mix-manifest.json
public/js/*
public/css/*
storage/documents/*
storage/framework/testing
tests/data/**/thumbnails
.idea
.vagrant
puphpet
Vagrantfile

public/css/all.css
typings/*

.settings/
.vscode/
docker-compose.yml
!tests/docker-compose.yml

_ide_helper.php
.phpstorm.meta.php

.phpunit.result.cache