vendor/
.DS_Store
.env*
*.env
node_modules
public/build
public/js/*
public/js /*
public/css/*
storage/documents/*
.idea
.vagrant
puphpet
Vagrantfile

public/js/*.js
public/css/*.css
public/css/all.css
typings/*

.settings/
.vscode/