APP_ENV=production
APP_DEBUG=false

CACHE_DRIVER=file
SESSION_DRIVER=file

DMS_USE_HTTPS=true

# —- The following parameters will be overwritten by KLink deploy scripts —-
APP_KEY=SomeRandomString
APP_URL=http://localhost/dms

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=***

DMS_IDENTIFIER=XXX
DMS_INSTITUTION_IDENTIFIER=XXX
DMS_CORE_USERNAME=core-username
DMS_CORE_PASSWORD=core-password
DMS_CORE_ADDRESS=http://localhost/kcore