
// User avatar -----------------------

.avatar {
	

	background-color: @brand-dark-gray;

}


.avatar__image {

	.square(100%);

	display: inline-block;
}

.avatar__icon {

	fill: @brand-light-gray;

	.square(80%);

	padding: 10%;
	

}

.avatar__initials {
	font-size:24px;
	color: #fff;
	.square(100%);
	text-align: center;
	line-height: 1.5;
	vertical-align: middle;
	display: inline-block;
}


// Project avatar -----------------------

.project-avatar-container {
	.columns {
		margin: 0;
	}
}

.project-avatar {
	height: 120px;
	width: 160px;
}

.project-avatar-image {
	width: 150px;
	height: auto;
	max-height: 80px;
}

.project-avatar-placeholder {
	width: 150px;
	height: 80px;
	background: @darken-background-color;
}
