
.empty {
    text-align: center;

    color: lighten(@text-color, 20%);
    fill: currentColor;

    background-color: darken(@background-color, 1%);
    padding: @base-padding*2;

    flex-shrink: 0;
    flex-basis: 100%;
    box-sizing: border-box;

}

.empty__icon {
    height: 144px;
    width: 144px;

    padding: 32px;
    display: block;
    margin: 0 auto;
}

.empty--small {
    padding: @base-padding;
}

.empty--small .empty__icon {
    height: @base-padding*4;
    width: @base-padding*4;
    padding: 0px !important;
}

.empty--small .empty__description {
    margin: @base-padding;
}
