
.description {
	color: @black-60;
	font-size: 14px;
	margin-bottom: 0.6rem;
}


.alert {
	background: #FCF8E3;
	padding: 15px 0 15px 15px;
	margin-bottom: 10px;
	
	color: #888;
	border-radius: 3px;
	position: relative;

	p {
		margin-bottom: 0;
	}

	.close {
	  background: rgba(0, 0, 0, 0.1);
	  display: block;
	  position: absolute;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  border-radius: 0 3px 3px 0;
	  padding: 10px 30px;
	}

	.close [class*="icon-"] {
	  font-size: 1.875em;
	  color: #fff;
	}

	&.success {
	  background: #a1d36e;
	  color: #fff;
	}

	&.info {
	  background: #6ad1dd;
	  color: #fff;
	}

	&.error {
	  background: @brand-danger;
	  color: #fff;

		a {

	  	color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&.warning {
	  background: #e85600;
	  color: #fff;
	}


	.icon-checkmark, .icon-exclamation {
	  display: inline-block;
	  margin-right: 10px;
	}
}

.alert__hidden {
    display: none;
}

.alert__choice {
    
    line-height: 24px;
    vertical-align: middle;
    
    cursor: default;
	  
    button, .button {
        // display: inline-block;
        margin-bottom: 0;
        color: inherit;
        text-transform: initial;
        background: #444;
        background: rgba(0,0,0,0.2);
        border: 0;
        padding: 6px 12px;
        line-height: inherit;
        height: auto;
        
        &:first-of-type {
            margin-left: 15px;
        }
        
        
        
        &.primary {
            background: #333;
            background: rgba(0,0,0,0.4);
        }
        
        &:hover, &:active {
            background: #111;
            
        }
    }
    
    a {
        text-decoration: underline;
        
        &:hover {
            color: #000;
        }
    }
}

@keyframes long-running-show-animation {
	0% { display:block; opacity:0; top: @base-padding/2; }
  100% { opacity:1; top: @base-padding; }
}

/**
	Little overlay message for a long running ajax process
*/

.long-running-message {

	display: none;

	position: fixed;

	border-radius: 3px;

	padding: @base-padding/2;

	top: @base-padding;

	max-width: 480px;

	left: 50%;

	transform: translate(-50%, 0);

	text-align: center;

	z-index: 910;

	background-color: @warning-color;

	color: #111;

	&.visible {

		animation: long-running-show-animation linear 0.4s;

		display: block;


	}
}

.outdated {
	background: #FCC419;
	padding: 0;
	height: 0;
	opacity: 0;
	line-height: 48px-16;
	vertical-align: middle;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	transition: all 0.2s linear;
}

.outdated--visible {
	padding: 8px;
	opacity: 1;
	height: 48px;
}

.outdated--nosupport {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	padding: 100px 180px 360px;
	margin-bottom: 360px;

	overflow-y: auto;
}

.outdated--shown {
	// to add the correct spacing for the body padding and the position:fixed elements
	// apply to: body
	padding-top: 92px+48px !important;

	#documents-list .three {
		padding-top: 92px+48px !important;
	}
}

.outdated__link {

	padding: 8px;
	background: lighten(#FCC419, 40%);
	text-decoration: underline;


	&:hover {
		background: #fff;
	}

}

.outdated__browsers {

	margin: 16px 0 24px
}

.outdated__browser {
	display: inline-block;
	width: 16%;
	text-align: center
}
