

.leaflet-control-layers-toggle {
    background-image: url(/images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(/images/layers-2x.png);
}

.leaflet-draw-toolbar a {
	background-image: url('/images/spritesheet.png');
	background-image: linear-gradient(transparent, transparent), url('/images/spritesheet.svg');
}

.leaflet-retina .leaflet-draw-toolbar a {
	background-image: url('/images/spritesheet-2x.png');
	background-image: linear-gradient(transparent, transparent), url('/images/spritesheet.svg');
}