
.box {
	
	@apply border;
	@apply border-gray-200;
	@apply bg-gray-200;
	
	@apply shadow-lg;
	
	@apply p-2;
	
	@apply mt-1;
	@apply mb-3;
	
	.details {
		@apply -mx-2;
		@apply px-2;
	}
	
	.button {
		border: 0px;
		text-transform: none;
		
		&:hover {
			@apply bg-gray-200;
		}
	}
	
	&.highlighted {
		
		@apply border-yellow-500;
		@apply bg-yellow-500;
	}
	
	h4 {
		span {
			opacity: 0;
			cursor: pointer;
		}
	}
	
	&:hover {
		h4 span {
			opacity: 1;
		}
	}
	
	&.saving {
		@apply opacity-75;;
		cursor: wait;
		
		.button, a {
			pointer-events: none;
		}
	}
	
	&.dragover {
		@apply border-accent-600;
		@apply bg-accent-600;
	}
}

.box--inline {
	display: inline-block;
	min-width: 200px;
	margin-top: 8px;
	margin-right: 8px;
	padding: 8px;
}

