
.button, .btn, .button--link  {
	
	@apply transition;
	@apply ease-in-out; 
	@apply duration-150;
	
	@apply inline-flex;
	@apply justify-center;
	@apply rounded-md;
	@apply border;
	@apply border-gray-400;
	@apply px-4;
	@apply py-2;
	@apply text-sm;
	@apply leading-5;
	@apply font-medium;
	@apply text-gray-900;
	@apply shadow;
	@apply bg-white;
	@apply font-medium;

	@apply fill-current;
	@apply no-underline;
	

	&:disabled {
		@apply cursor-not-allowed;
	}

	&:hover {
		@apply bg-gray-100;
		@apply text-gray-900;
	}

	&:focus {
		@apply text-gray-900;
		@apply outline-none;
		@apply border-blue-700;
		@apply shadow-outline-blue;
		@apply z-10;
	}

	&:active {
		@apply bg-gray-200;
	}

	.icon, svg {
		@apply h-5;
		@apply w-5;
	}
}

.button--primary {
	@apply bg-blue-600;
	@apply text-white;
	@apply fill-current;

	&:hover {
		@apply bg-blue-500;
		@apply text-white;
	}

	&:focus {
		@apply text-white;
		@apply outline-none;
		@apply border-blue-700;
		@apply shadow-outline-blue;
	}

	&:active {
		@apply bg-blue-700;
	}
}


.button--ghost {
	background-color: transparent;
	border: 0;

	&:hover, &:focus {
		@apply bg-orange-500;
		@apply border-transparent;
		@apply text-white;
		@apply fill-current;
	}

	&:active {
		@apply bg-orange-700;
		@apply border-transparent;
	}
}


.button--larger {
	@apply p-2;
	min-width: 180px;
}

.button--selected {
	@apply border-blue-700;
	@apply bg-gray-100;
	@apply text-blue-800;
	@apply shadow-inner;
	@apply relative;

	&:after {
		/* this is to obtain a slightly bigger bottom border without affecting the height of the button */
		content: '';
		@apply block;
		@apply absolute;
		
		@apply bottom-0;
		@apply h-px;
		@apply w-11/12;
		@apply bg-blue-700;
		@apply rounded-b-md;
		@apply overflow-hidden;
	}
}

.button.danger, .button--danger {
	@apply fill-current;

	@apply border-error;
	@apply bg-gray-100;
	@apply text-error;

	&:hover {
		@apply border-error;
		@apply bg-error;
		@apply text-white;
	}

	&:active, &:focus {
		@apply border-error;
		@apply bg-red-700;
		@apply text-white;
	}
		
}



.button__error, .button__success {
	@apply hidden;
}

.button--success, .button--success:focus {
	@apply bg-success;
	@apply border-success;
	@apply text-black;

	.button__content:not(.button__success) {
		@apply hidden;;
	}

	.button__success {
		@apply inline-block;
	}
}

.button--error {
	@apply bg-error;
	@apply border-error;
	@apply text-white;

	.button__content:not(.button__error) {
		@apply hidden;;
	}

	.button__error {
		@apply inline-block;;
	}
}


.file-button {

	@apply relative;
	cursor: pointer;

	input[type='file'] {
		@apply absolute;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 0px;
		opacity: 0;
		height: 100%;
		width: 0;
	}

}

.ladda-button {

	.processing {
		@apply hidden;;
	}

	&.processing {
		.normal {
			@apply hidden;;
		}
		.processing {
			display: inherit;
			pointer-events: none;
		}
	}
}


.button__processing {
	@apply hidden;;
}
.button--processing, .button--loading {
	.button__normal {

		@apply hidden;;
	}

	.button__processing {
		display: inherit;
		pointer-events: none;
	}
}







.dropdown {

	@apply relative;

	/* @apply text-white; */


	.drop-menu {

		@apply hidden;;

		@apply absolute;


		z-index: 105;

		@apply bg-gray-100;
		
		min-width: 200px;
		left: 0px;
		text-align: left;


		padding: 8px 0px;

		box-shadow: 0px 0px 4px rgba(0,0,0,0.5);		


		li {
			@apply m-0;
			@apply p-0;
		}
	}


	.dropdown-el {

		@apply text-black;

		@apply block;

		@apply p-2;

		@apply no-underline;


		&:hover, &:focus {
			@apply text-accent-600;
			@apply bg-gray-100;
		}

		&:active {
			@apply bg-accent-600;
        	@apply text-white;
		}
	}

	.dropdown-separator {
		height: 1px;
		@apply h-px;
		@apply bg-gray-500;
		margin-bottom: 2px !important;
		margin-top: 2px !important;
		width: 100%  !important;
	}

	
	.expand {
		margin-right: 0 !important;
	}

	.collapse {
		@apply hidden;;
		margin-right: 0 !important;
	}
	

	&:hover {

		z-index: 110;

		.expand {
			@apply hidden;
		}

		.collapse {
			@apply inline-block;
		}


		.drop-menu {
			@apply block;
		}

	}
	
}


.sweet-alert button {
	height: inherit;
	line-height: inherit;
}



.copy-link__message {
	height: 0;
	opacity: 0;
	pointer-events: none;
	transition: height 0.2s linear, opacity 0.4s linear;
	flex-basis: 100%;
}

.copy-link__message--visible {
	height: auto;
	opacity: 1;
}

.copy-link__message--error {
	color: #e03131;	
}


.copy-link__input {
	opacity: 0.8;
	min-width: auto !important;
	flex-grow: 2;	
	padding: 0 8px;
	
	@apply border;
	@apply border-gray-400;

	transition: all 0.2s linear;

	float: left;

	&:hover {
		opacity: 1;
		border-color: #888;
	}
}
