.field-error {
	@apply bg-error;
	@apply text-white;
	@apply inline-block;
	@apply p-2;

	& + input {
		@apply border-2;
		@apply border-error;
	}
}


form {
	.help {
		@apply text-gray-600;
		font-size: 1.4rem;
		margin-bottom: 0;
	}
}

input[type='text'], textarea {
	&:disabled {
		@apply opacity-50;
	}
}



.login-form {

	input[type='text'], input[type='password'], input[type='email'] {
		width: 50%;
		@apply text-black;
	}

	.field-error {
		display: block;
		width: 50%;
	}

}



.share-form {
	label {
		display: inline-block;
	}
}



/* .radio-tab {

	width: 140px;

	height: 207px;

	float: left;

	background-color: darken(@background-color, 5%);

	text-align: center;

	

	label {
		display: block;
	}


	.radio-tab-item {
		display: block;

		width: 140px;

		height: 100px;

		@apply p-2;

		
	}

	input[type="radio"] {
		@apply w-8;
		@apply h-8;
	}

	input[type="radio"]:checked ~ label {
		@apply text-accent-600;
	}


} */


.tab-content {
	display: none;
	max-width: 60%;
	min-width: 40%;


	@apply bg-white;

	@apply px-3;
	@apply py-2;

	min-height: 207px;

	&.current, &.visible {
		display: inline-block;
	}

	

	input[type='text'] {
		min-width: 33%;
		max-width: 100%;
		width: 100%;
		display: block;
	}

	textarea {
		min-width: 33%;
		max-width: 100%;
		width: 100%;
		min-height: 120px;
		max-height: 120px;
		display: block;
	}

	.button-primary {
		float: right;
	}
}



input[type="checkbox"] + label {
	display: inline-block;
}




.document-form {

	@apply mt-1;

	.title {
		/* .h3-typography; */

		height: auto;
		display: block;

	}

	.thumbnail {
		height: 240px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	.minimeta { 

		@apply mb-1;

		& > * {
			margin-bottom: 0;

			@apply text-gray-700;
		}

	}

}

.form-actions {

	@apply bg-gray-100;

	@apply p-2;

	label + .description {
		display: block;
	}

}




.fieldbox {

	@apply border;
	@apply border-gray-500;

	margin-bottom: 24px;

	padding: 12px;

	input[type="email"], input[type="search"], 
	input[type="number"], input[type="text"], 
	input[type="tel"], input[type="url"], 
	input[type="password"], textarea, select {
		width: 100%
	}

	textarea {
		min-height: 100px;
	}

}

.select2-search, .select2-search__field, .select2-results__option {
	margin-bottom: 0 !important;
}

.fieldbox__heading {

	@apply bg-gray-300;

	margin: -12px -12px 12px;
	padding: 12px;

}

.search-user__input{
	min-width: 300px;
}
