/**
 * Floating panels
 */

.select2-container {
	z-index: 10000000;
	flex-grow: 2
}

.c-panel {
	height: 100%;
	
	@apply w-screen;


	overflow: hidden;

	display: flex;
	visibility: hidden;
	opacity: 0;
	pointer-events:none;

	position: fixed;
	top: 0;
	right: 0;

	transition: all 0.1s linear;
}

.c-panel__cache {
	height: 100%;
	width: 100%;
	z-index: 5;
	@apply bg-gray-800;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	transition: opacity 0.2s linear;
	pointer-events:none;
}

.c-panel--visible {

	visibility: visible;
	opacity: 1;
	pointer-events:auto;

	.c-panel__cache {
		opacity: 0.3;
		pointer-events: auto;
	}
}

.c-panel__close {
	position: absolute;
	right: 8px;
	top: 8px;
}

.c-panel {
	justify-content: flex-end;
	align-content: stretch;
}

.c-panel__content {

	width: 100%;
	

	@apply max-h-screen;

	@apply p-2;

	@apply bg-white;

	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

	@apply relative;
	@apply z-10;
	
}

@screen md {
	.c-panel__content {
		@apply w-1/2;
	}
}

.c-panel__actions {
	@apply flex;
	
	@apply bg-gray-400;
	
	@apply mb-px;
	@apply -mx-2;
	@apply p-2;

	.button {
		@apply mr-2;
	}
}

.c-panel__header {
	@apply -mt-2;
	@apply -mx-2;
	@apply bg-gray-800;
	@apply text-white;
	fill: #fff;
	height: 320px;

	display: flex;
	@apply pt-8;
	@apply px-2;
	@apply pb-2;
	justify-content: space-between

}

.c-panel__data {
	height: calc(100% - 48px - 320px);
	overflow-y: auto;

}

.c-panel__overflow {
	height: 100%;
	overflow-y: auto;

}

.c-panel__title {
	@apply text-2xl;
	@apply break-all;
	@apply mb-4;
}

.c-panel__section {
	@apply mb-2;
	@apply mt-4;
	@apply block;
}

.c-panel__thumbnail {
	max-height: 300px;
	overflow: hidden;
	flex-basis: 40%;
	flex-grow: 0;
	flex-shrink: 0;
}

.c-panel__meta {
	@apply mb-3;
}

.c-panel__label {
	@apply w-2/5;
	@apply text-gray-800;
	@apply block;
}

